{% from "components/_partials/flip-card/flip-card.njk" import flipCard %}

<div class="container flip-cards content">
  <ul class="flip-cards-list">
    {% for card in section.cards %}
    <li class="flip-card-wrapper">{{ flipCard(card) }}</li>
    {% endfor %}
  </ul>
</div>
