{% from "components/_partials/logo/logo.njk" import logo %}
{% from "components/_partials/icon/icon.njk" import icon %}

{# 
  This section is used to display a list of logos or icons in a horizontal scrolling list.
  It can be configured to show all logos or a selection of logos based on the provided IDs.

<div class="container logo-list content">
  {# we need two copies so the auto scroll works properly #}
{% set copies = 2 %}

{# 
  if scope is set to all we will show all logos that are available in 
  data[section.logos.source] 
#}
{% if section.logos.scope === "all" %}
  {% set logosList = data[section.logos.source] %}
{% endif %}

{# 
  filter the whole list which is available in data[section.logos.source] with 
  the list item ids which is available in section.selections. 
#}
{% if section.logos.scope === "selections" %}
  {% set logosList = data[section.logos.source] | getSelections(section.logos.selections) %}
{% endif %}

{% set logoWidth = section.logos.logoWidth %}
{% set logosListLength = logosList | length * logoWidth ~ "px" %}
{% set isReverse = section.isReverse %}

<div class="marquee {% if isReverse %}is-reverse{% endif %}" style="--list-width: {{ logosListLength }}">
  <div class="mask">
    <div class="logos-wrapper">
      {% for i in range(0, copies) -%}
        <ul class="logos js-logos-list">
          {% for item in logosList %}
            <li style="width: {{ logoWidth }}px;">
              {% if item.logo %}
                {{ logo(item, logoWidth) }}
              {% endif %}
              {% if item.icon %}
                {{ icon(item, logoWidth) }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>

  <!-- .marquee -->
</div>